extends ../layout

block content
  h1= title
  p: a.button(href='/books/newbook') Create New Book
  table
    thead
      tr
        each val, key in books[0]
          if key !== 'id'
           th=  key.charAt(0).toUpperCase() + key.slice(1)
    tbody 
      each book in books
        tr 
          each val, key in book
            if key === 'title'
              td
                a(href='/books/book/' + book.id)= val
            if key !== 'id' && key !== 'title'
              td= val
  p Showing Books  #{offset + 1} -- #{offset + limit} of #{count}
  p= offset
  div.pagination
    ul.link-list
      -  for (let val=1; val <= Math.ceil(count/limit); val++) 
          li(class=(val-1 === offset/limit) ? 'active' : '')
            a.button(type='button', href='/books/page/' + val)= val